<% if user_signed_in? %>
<h1 align='center'>Lista de amigos</h1>

<%= render  'table', friend: @friend %>

<br>

<%= link_to 'New Friend', new_friend_path, class:"btn btn-dark" %>

<% else %>


<% end %>